extends base.pug
block content
  div(class="contributor container box has-background-primary-light")
    h2(class="title")= contributor.username
    div
      span
      |id:&nbsp;
      span(class="tag")= contributor.id
    div
      span
      |joined:&nbsp;
      span(class="created-at")= contributor.created_at
    div
      span
      |most recent activity:&nbsp;
      span(class="text")= contributor.last_login
    div
      span
      |email:&nbsp;
      span(class="text")= contributor.email
    div
      span
      |bio:: &nbsp;
      span(class="text")= contributor.bio

  script
    include contributor.js