extends base.pug
block content
  div(class='container p-4')
    each issue in issues
      div(class="issue box has-background-primary-light" data-author=issue.author)
        h2(class="title is-4 mb-0")= issue.title
        div(class="has-text-grey mb-5")
          span
            |created by: 
          span(class="author")
            |...
          span
            |&nbsp; on: 
          span(class="created-at")
            |...
        p(class="subtitle mb-2")= issue.description
        if issue.status == "Completed"
          div(class="tag is-success")= issue.status
        else if issue.status == "Not Started"
          div(class="tag is-danger")= issue.status
        else if issue.status == "In Progress"
          div(class="tag is-warning")= issue.status
        
  script
    include issues.js